@import "bootstrap.less";

@import "signin.less";

@import "filebrowser.less";

@import "pagebrowser.less";

@brand-primary: #559999;

// Navigation
@navbar-default-bg: #444;
@navbar-default-color: #fff;
@navbar-default-link-color: darken(#fff, 20%);
@navbar-default-link-hover-color: darken(#fff, 25%);
@navbar-default-link-active-color: darken(#fff, 25%);

body {
	padding-top: 70px;
	background-color: lighten(#EEEEDD, 6.5%);
}

.main-view {
	background: #fff;
	padding-top: 10px;
	padding-bottom: 20px;
	border: 1px solid darken(#EEEEDD, 4%);
}

.editor-messages {
    margin-top: 10px;
}