.pages {
	height: 100%;

	.col-md-12 {
		height: 100%;
	}

	.tabbable {
		height: 100%;
	}

	.tab-content {
		height: 95%;
	}

	.tab-pane {
		height: 100%;
	}
}

.page-browser iframe {
    width: 100%;
    border: 1px solid @gray-lighter;
    border-top: none;
    min-height: 500px;
    height: 100%;
}

.nav-tabs a {
	cursor: pointer;
}

.empty-table {
	text-align: center;
}