.page-browser iframe {
    width: 100%;
    border: 1px solid @gray-lighter;
    border-top: none;
    min-height: 500px;
}

.nav-tabs a {
	cursor: pointer;
}

.empty-table {
	text-align: center;
}

.site-tree {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    ul {
        list-style-type: none;
        padding-left: 20px;
    }
}

.site-tree li {
    i {
        float: left;
        padding-right: 5px;
        display: block;
        font-style: normal;
        background: #fff;

        &.expand:after, &.expanded:after {
            display: block;
            font-weight: normal;
            content: "\27A4";
            
            background: #fff;
        }

        &.page {
            background: transparent !important;
        }
        
        &.expanded:after {
            
            -moz-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
            -o-transform: rotate(30deg);
            -webkit-transform: rotate(30deg);

            transform: rotate(30deg);
        }
    }

    a {
        display: block;
        &.selected {
            background: @brand-primary;
            color: #fff;
        }
    }
}